In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
# Sample data with inconsistent date formats
data = {
    'Event': ['Concert', 'Conference', 'Meeting', 'Workshop', 'Seminar'],
    'Date': ['12/05/2024', '05/15/2024', '23/06/2024', '07/20/2024', '10/11/2024']
}

df = pd.DataFrame(data)
df

        Event        Date
0     Concert  12/05/2024
1  Conference  05/15/2024
2     Meeting  23/06/2024
3    Workshop  07/20/2024
4     Seminar  10/11/2024

In [ ]:
def convert_date_format(date_str):
    try:
        return datetime.strptime(date_str, '%d/%m/%Y').strftime('%Y-%m-%d')
    except:
        try:
            return datetime.strptime(date_str, '%m/%d/%Y').strftime('%Y-%m-%d')
        except:
            return np.NaN